.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
  }

  .input {
    padding: 10px;
    padding-left: 40px;
    width: 20%;
    margin: auto;
    border: 2px solid rgb(15, 15, 25);
    background-color: rgb(232, 240, 248);
    color: rgb(15, 15, 25);;
    border-radius: 10px;
    font-size: 14px;
  }

  .input:focus {
    outline: none;
  }