.App {
  font-style: bold;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 26px;
  margin: auto;
  align-items: center;
  padding: 20px;
  background-color: lightslategray;
  height: 410px;
  width: 300px;
  border: 2px solid rgb(26, 26, 40);
  border-radius: 10px;
}

.input {
  position: relative;
  padding: 10px;
  padding-left: 20px;
  width: 260px;
  margin: auto;
  border: 2px solid rgb(26, 26, 40);
  background-color: rgb(232, 240, 248);
  color: rgb(26, 26, 40);
  border-radius: 10px;
  font-size: 14px;
  font-weight: bolder;
}

.input:focus {
  outline: none;
}

.card {
  position: relative;
  padding: 20px;
  margin-top: 20px;
  font-weight: bold;
  width: 254px;
  height: 250px;
  border-radius: 10px;
  background-color:rgba(26, 26, 40, 0.3);
  line-height: 0.2;
}

.welcome {
  line-height: 1.25;
  font-size: 16px;
  height: 300px;
}

.weatherIcon {
  position: absolute;
  right: -20px;
  bottom: -40px;
}