  .pageBTN{
    z-index: 10;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    background: radial-gradient(circle, rgb(84, 84, 95) 0%, rgb(26, 26, 40) 100%);
  }

  .pageBTN::before {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    left: 5px;
    top: 5px;
    border-radius: 50%;
    background-color: rgba(148, 152, 158, 0.1);
  }

  .pageBTN::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(148, 152, 158, 0.2);
  }

  .pageBTN:hover {
    background: radial-gradient(circle, rgb(132, 194, 184) 0%,  rgb(13, 13, 141) 100%);
  }

  .pageButtonContainer {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    width: 230px;
    padding: 5px;
    box-shadow: inset 10px 10px 8px 0px rgba(26, 26, 40, 0.3),
                inset -6px -1px 20px 0px rgba(208, 210, 212, 0.5);
    border-radius: 10px;
    top: 160px;

  }